@use 'sass:math';

@function getClamp($min-size, $max-size, $min-breakpoint, $max-breakpoint, $unit: vw) {
  $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
  $slope-to-unit: $slope * 100;
  $intercept: $min-size - $slope * $min-breakpoint;
  $min-size: $min-size;
  $max-size: $max-size;

  @return clamp(#{$min-size}, #{$slope-to-unit}#{$unit} + #{$intercept}, #{$max-size});
}

@function fromPxToRem($value, $root-font-size: 16px) {
  $value: math.div($value, $root-font-size) * 1rem;

  @return $value;
}
